<div class="breadcrumbs_area mt-45">
   <div class="container">
       <div class="row">
           <div class="col-12">
               <div class="breadcrumb_content">
                   <ul itemscope itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><a itemprop="item" routerLink="/"><span itemprop="name">home</span></a><meta itemprop="position" content="1" /></li>
                        <li style="margin-left: 15px;" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><span itemprop="name">Delivery Information</span><meta itemprop="position" content="2" /></li>
                    </ul>
               </div>
           </div>
       </div>
   </div>
</div>
<p>delivery-information works!</p>
